[submodule "enigma2-plugins"]
	path = enigma2-plugins
	url = https://github.com/opendreambox/enigma2-plugins.git
[submodule "enigma2-plugin-bitrateviewer"]
	path = enigma2-plugin-bitrateviewer
	url = https://github.com/opendreambox/enigma2-plugin-bitrateviewer.git
[submodule "enigma2-plugin-permanenttimeshift"]
	path = enigma2-plugin-permanenttimeshift
	url = https://github.com/opendreambox/enigma2-plugin-permanenttimeshift.git
[submodule "enigma2-plugin-merlinmusicplayer"]
	path = enigma2-plugin-merlinmusicplayer
	url = https://github.com/opendreambox/enigma2-plugin-merlinmusicplayer.git
[submodule "enigma2-plugin-reconstructapsc"]
	path = enigma2-plugin-reconstructapsc
	url = https://github.com/opendreambox/enigma2-plugin-reconstructapsc.git
[submodule "enigma2-plugin-vps"]
	path = enigma2-plugin-vps
	url = https://github.com/opendreambox/enigma2-plugin-vps.git
[submodule "enigma2-plugin-networkbrowser"]
	path = enigma2-plugin-networkbrowser
	url = https://github.com/opendreambox/enigma2-plugin-networkbrowser.git
[submodule "enigma2-plugin-babelzapper"]
	path = enigma2-plugin-babelzapper
	url = https://github.com/opendreambox/enigma2-plugin-babelzapper.git
[submodule "enigma2-plugin-partnerbox"]
	path = enigma2-plugin-partnerbox
	url = https://github.com/opendreambox/enigma2-plugin-partnerbox.git
[submodule "enigma2-plugin-vlcplayer"]
	path = enigma2-plugin-vlcplayer
	url = https://github.com/opendreambox/enigma2-plugin-vlcplayer.git
[submodule "enigma2-plugin-stalkerclient"]
	path = enigma2-plugin-stalkerclient
	url = https://github.com/opendreambox/enigma2-plugin-stalkerclient.git
[submodule "enigma2-plugin-moviecut"]
	path = enigma2-plugin-moviecut
	url = https://github.com/opendreambox/enigma2-plugin-moviecut.git
[submodule "enigma2-plugin-curlytx"]
	path = enigma2-plugin-curlytx
	url = https://github.com/opendreambox/enigma2-plugin-curlytx.git
[submodule "e2openplugin-SeriesPlugin"]
	path = e2openplugin-SeriesPlugin
	url = https://github.com/betonme/e2openplugin-SeriesPlugin.git
[submodule "e2openplugin-EnhancedMovieCenter"]
	path = e2openplugin-EnhancedMovieCenter
	url = https://github.com/betonme/e2openplugin-EnhancedMovieCenter.git
[submodule "e2openplugin-InfoBarTunerState"]
	path = e2openplugin-InfoBarTunerState
	url = https://github.com/betonme/e2openplugin-InfoBarTunerState.git
[submodule "enigma2-plugin-pzyp4t"]
	path = enigma2-plugin-pzyp4t
	url = https://github.com/opendreambox/enigma2-plugin-pzyp4t.git
[submodule "e2-advancedaudiosettings"]
	path = e2-advancedaudiosettings
	url = https://github.com/dhwz/e2-advancedaudiosettings.git
[submodule "e2openplugin-PushService"]
	path = e2openplugin-PushService
	url = https://github.com/opendreambox/e2openplugin-PushService.git
[submodule "enigma2-plugin-fritzcall"]
	path = enigma2-plugin-fritzcall
	url = https://github.com/DrMichael/FritzCall
